<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%- include('../partials/headerLinks'); %>

    <title>APS | Home</title>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <%- include('../partials/header'); %> <%- include('../partials/leftnav'); %>
    <h1>Hello, worldxx!</h1>
    <%- include('../partials/footer'); %>
  </body>
</html>
